{% extends 'base.html.twig' %}

{% block title %}Appointment index{% endblock %}

{% block body %}
<div class="container py-4">
    <header class="d-flex flex-wrap align-items-center justify-content-between mb-3">
        <div>

            <h1 class="h3 mb-1 title">Citas</h1>
            <a href="{{ path('app_main') }}"
               class="btn btn-link text-decoration-none"
               aria-label="Volver al menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H3.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
                </svg>
                <span class="visually-hidden">Back to menu</span>
            </a>
            <p class="mb-0 text-body-secondary">Listado de Citas</p>

        </div>

        <nav class="d-flex gap-2">

            <a class="btn btn-primary" href="{{ path('app_appointment_new') }}">
                Nueva cita
            </a>
        </nav>
    </header>
    <section class="shadow-sm">
        <div class="p-3 rounded-3 bg-white">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname1</th>
                <th>Surname2</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Date</th>
                <th>FirstTime</th>
                <th>Type</th>
                <th>AgreeTerms</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.name }}</td>
                <td>{{ appointment.surname1 }}</td>
                <td>{{ appointment.surname2 }}</td>
                <td>{{ appointment.phone }}</td>
                <td>{{ appointment.email }}</td>
                <td>{{ appointment.datetime ? appointment.datetime|date('d/m/Y H:i') : '' }}</td>
                <td>{{ appointment.firstTime ? 'Yes' : 'No' }}</td>
                <td>{{ appointment.type }}</td>
                <td>{{ appointment.agreeTerms ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('app_appointment_show', {'id': appointment.id}) }}">Ver</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
        </section>
</div>
{% endblock %}
