{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
<div class="container py-4">
    <header class="d-flex flex-wrap align-items-center justify-content-between mb-3">
        <div>

            <h1 class="h3 mb-1 title">Citas</h1>
            <p class="mb-0 text-body-secondary">Informacion de la Cita</p>
            <a href="{{ path('app_appointment_index') }}"
               class="btn btn-link text-decoration-none"
               aria-label="Volver al menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H3.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
                </svg>
                <span class="visually-hidden">Back to menu</span>
            </a>


        </div>

        <nav class="d-flex gap-2">

            <a class="btn btn-primary" href="{{ path('app_appointment_new') }}">
                Nueva cita
            </a>
        </nav>
    </header>
    <section class="shadow-sm p-3 rounded-3 d-flex flex-wrap bg-white  align-items-center justify-content-between mb-3">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ appointment.name }}</td>
            </tr>
            <tr>
                <th>Surname1</th>
                <td>{{ appointment.surname1 }}</td>
            </tr>
            <tr>
                <th>Surname2</th>
                <td>{{ appointment.surname2 }}</td>
            </tr>
            <tr>
                <th>FirstTime</th>
                <td>{{ appointment.firstTime ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ appointment.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ appointment.email }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ appointment.datetime ? appointment.datetime|date('d/m/Y H:i') : '' }}</td>
            </tr>

            <tr>
                <th>Type</th>
                <td>{{ appointment.type }}</td>
            </tr>
            <tr>
                <th>AgreeTerms</th>
                <td>{{ appointment.agreeTerms ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">Editar</a>

    {{ include('appointment/_delete_form.html.twig') }}
    </section>
</div>
{% endblock %}
