{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container container-fluid">
    <header class="mb-3 mt-5">
        <h1 class="">Usuarios</h1>
        <p class="mb-0 text-body-secondary">Información del usuario</p>
    </header>
    <a href="{{ path('app_user_index') }}"
       class="btn btn-link text-decoration-none"
       aria-label="Volver al listado">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H3.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
        </svg>
        <span class="visually-hidden">Back to list</span>
    </a>
<div class="p-3 rounded-3 bg-white">
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>
                {% set roles = user.roles ?? [] %}
                {% if roles is empty %}
                    <span class="text-body-secondary">Sin roles</span>
                {% else %}
                    {% for r in roles %}
                        <span class="badge text-bg-secondary role me-1">{{ r }}</span>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Apellido 1</th>
            <td>{{ user.surname1 }}</td>
        </tr>
        <tr>
            <th>Apellido 2</th>
            <td>{{ user.surname2 ?? '-'}}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td> {{ user.phone ?? '-' }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>
                {% if user.active %}
                    <span class="badge text-bg-success">Sí</span>
                {% else %}
                    <span class="badge text-bg-danger">No</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Creacion de Usuario</th>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
</div>

    <div class="d-flex mt-2 gap-2">
        <a  class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Editar Usuario</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>



    </div>
{% endblock %}
